<form action="/payment/results">
  <div>
    <label for="APR">APR</label>
    <input name="APR" id="APR" type="text">
  </div>
  <div>
    <label for="years">Number of years</label>
    <input name="years" id="years" type="text">
  <div>
  <div>
    <label for="PV">Principal</label>
    <input name="PV" id="PV" type="text">
  </div>
  <button>Calculate Monthly Payment</button>
</form>
