<form action="/random/results">
  <div>
    <label for="min">Input Minimum<label>
    <input name="minimum" id="min" type="text" placeholder="e.g. 1.5">
  </div>
  <div>
    <label for="max">Input maximum</label>
    <input name="maximum" id="max" type="text" placeholder="e.g. 1.5">
  </div>
<button>Generate random number</button>
</form>
