<form action="/square_root">
  <div>
    <label for="number">Input number</label>
    <input name="number" id="number" type="text" placeholder="E.g. 1.5">
  </div>
  <button>Square root the number</button>
</form>
