<form action="/square_root/results">
  <div>
    <label for="number">Enter a number</label>
    <input name="number" id="number" type="text" placeholder="E.g. 1.5">
  </div>
  <button>Calculate square root</button>
</form>
