<form action="/square">
  <div>
    <label for="square">Input Number</label>
    <input name="number" id="square"  type="text" placeholder="E.g. 1.5"></input>
  </div>
  <button>Square the number</button>
</form>
