<form action="/square/results">
  <div>
    <label for="square">Enter a number</label>
    <input name="number" id="square"  type="text" placeholder="E.g. 1.5"></input>
  </div>
  <button>Calculate square</button>
</form>
